HOUSE_NUMBER=626
STREET_NAME=Bellefonte St
ZIP_CODE=15232
CALENDAR_ID=primary
GOOGLE_SERVICE_ACCOUNT_FILE=./service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CALENDAR_OWNER_EMAIL=
TARGET_MONTH=
ATTENDEE_EMAILS=
DRY_RUN=true
